<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn CSS</title>
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
    <p>Hola Mundo</p>
    <p  style="color: aqua;" id="name" class="text-success">Marco Daniel Oviedo Roman</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-4 bg-warning">
                  <h1>Hola</h1>
            </div>
            <div class="col-12 col-sm-4 bg-success">
                <h1>DANIEL</h1>
            </div>
            <div class="col-12 col-sm-4 bg-primary">
            <img class="img-fuid" src="../assets/img/logo.png"  width="400" height="300" >
            </div>
        </div>
    </div>
</body>
</html>